/AES_Core/obj
/AES_Core/bin
/AES_Di.Generator/obj
/AES_Di.Generator/.vs
/AES_Di.Generator/bin
/.vs
/AES_Lacrima/obj
/AES_Lacrima/bin
/AES_Controls/bin
/AES_Controls/obj
/*.Tests/bin
/*.Tests/obj
/AES_Lacrima.Headless.Tests/bin
/AES_Lacrima.Headless.Tests/obj
/.idea
/AES_Lacrima/Properties/PublishProfiles/FolderProfile.pubxml.user
/.vscode/launch.json
/.vscode/tasks.json
*.user
*.user
.vscode/settings.json
/.nuke-tools
/.nuke/temp
/build/bin
/build/obj
/output
